// container
$container-width: 1480px;
$container-paddings: 0 20px;
// font
$primary-font: 'Sen';

// font-sizes
$big-text: 56px;
$h1: 36px;
$h2: 24px;
$h3: 16px;

$text-regular: 24px;
$text-small: 16px;

$lh-regular:64px;
$lh-small:24px;

// colors
$primary: #FFE145;
$secondary: #F2F4FA;
// $accent: #592ea9;
$yelow-500: #FFF7CC;
$yellow-300: #f4f4f4;
$yellow-200: #FFE145;
$yellow-400: #FFE145;
$accent: #D4D7E5;